<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">Bilancio Personale</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
  </button>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center px-2 w-100 text-light bg-black-50">
      <h5 id="section-title"><%= typeof text == 'undefined' ? "" : text %> <%= typeof changes == 'undefined' ? "" : changes %></h5>
      <button id="<%= typeof changeModal != 'undefined' ? changeModal.buttonId : '' %>" type="button" class="btn btn-outline-green" data-bs-toggle="modal" data-bs-target="<%= typeof changeModal != 'undefined' ? changeModal.modalId : '' %>">
        <span style='color: lime'>
          <i class="fas fa-plus-circle"></i>
        </span>
      </button>
    </div>
</header>