<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container-fluid p-0 pt-3">
        <div class="table-responsive">
            <table id="recurrents" class="table table-striped table-sm"></table>
        </div>
    </div>
</main>