<div class="modal fade" id="addEditRecurrent" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addEditRecurrentTitle">Nuovo movimento ricorrente</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type='hidden' class='hiddenId' value='' />
            <input type='hidden' id='abilitatoInput' class='abilitato' name='abilitato' value='' />
            <div class="continer-fluid">
                <div class="row">
                    <div class="col-md-6 col-12 mb-3">
                        <label for="dataInput" class="form-label">Data</label>
                        <select class="form-select" id="dataInput" name="data" aria-label="Data select" aria-describedby="dataHelp">
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>
                        <div id="dataHelp" class="form-text">Scegli la data che verrà poi accoppiata insieme alle altre dello stesso mese e anno.</div>
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                      <label for="importoInput" class="form-label">Importo</label>
                      <input type="number" name="importo" class="form-control importo" id="importoInput" aria-describedby="importoHelp">
                      <div id="importoHelp" class="form-text">Inserisci l'importo dell'entrata o dell'uscita utilizzando il punto come separatore delle virgole.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12 mb-3">
                      <label for="tipologiaInput" class="form-label">Tipologia</label>
                      <select class="form-select" id="tipologiaInput" name="tipologia" aria-label="Tipologia select" aria-describedby="tipologiaHelp"></select>
                      <div id="tipologiaHelp" class="form-text">Scegli la tipologia del nuovo inserimento.</div>
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <label for="categoriaInput" class="form-label">Categoria</label>
                        <select class="form-select" id="categoriaInput" name="categoria" aria-label="Categoria select" aria-describedby="categoriaHelp"></select>
                        <div id="categoriaHelp" class="form-text">Scegli la categoria.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12 mb-3">
                      <label for="sorgenteInput" class="form-label">Sorgente</label>
                      <select class="form-select" id="sorgenteInput" name="sorgente" aria-label="Sorgente select" aria-describedby="sorgenteHelp">
                        <option value="external" selected>Esterno</option>
                      </select>
                      <div id="sorgenteHelp" class="form-text">La sorgente del movimento.</div>
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                      <label for="destinazioneInput" class="form-label">Destinazione</label>
                      <select class="form-select" id="destinazioneInput" name="destinazione" aria-label="Destinazione select" aria-describedby="destinazioneHelp">
                        <option value="external" selected>Esterno</option>
                      </select>
                      <div id="destinazioneHelp" class="form-text">La destinazione del movimento.</div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-12 mb-3">
                      <label for="descrizioneInput" class="form-label">Descrizione</label>
                      <textarea rows="3" name="descrizione" class="form-control" id="descrizioneInput" aria-describedby="descrizioneHelp"></textarea>
                      <div id="descrizioneHelp" class="form-text">Scegli una descrizione per questo nuovo inserimento.</div>
                  </div>
                  <div class="col-md-6 col-12 mb-3">
                      <label for="codiceInput" class="form-label">Codice</label>
                      <input type='text' id='codiceInput' class='codice form-control' name='codice' value='' maxlength="8" minlength="8" aria-describedby="codiceHelp" />
                      <div id="codiceHelp" class="form-text">Scegli un codice di 8 caratteri univoco per questo movimento ricorrente.</div>
                  </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
            <button type="submit" id="addNewRecurrent" class="btn btn-primary">Invia</button>
            <button type="submit" id="editRecurrent" class="btn btn-warning" style="display: none;">Modifica</button>
          </div>
        </div>
      </div>
  </div>
  
  <div class="modal fade" id="deleteRecurrent" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Sei sicuro di voler eliminare questo movimente ricorrente?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label class="form-label">L'eliminazione della riga non comporterà variazioni nella visualizzazione dei dati. Il movimento ricorrente però non verrà scatenato</label>
            <div id="dataTodelete"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
            <button type="submit" id="deleteThisRecurrent" class="btn btn-danger">Elimina</button>
          </div>
        </div>
      </div>
  </div>