<div class="modal fade" id="addEditType" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEditTypeTitle">Nuova Tipologia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type='hidden' class='hiddenId' value='' />
        <div class="continer-fluid">
          <div class="row">
            <div class="col-md-6 col-12 mb-3">
              <label for="nomeInput" class="form-label">Nome</label>
              <input type="text" name="nome" class="form-control nome" id="nomeInput" aria-describedby="nomeHelp">
              <div id="nomeHelp" class="form-text">Inserisci il nome della tipologia.</div>
            </div>
            <div class="col-md-6 col-12 mb-3">
              <label for="descrizioneInput" class="form-label">Descrizione</label>
              <textarea rows="3" name="descrizione" class="form-control" id="descrizioneInput" aria-describedby="descrizioneHelp"></textarea>
              <div id="descrizioneHelp" class="form-text">Scegli una descrizione per questa tipologia.</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-12 mb-3">
              <div class="form-check">
                <input class="form-check-input" name="analizza" type="checkbox" value="" id="analizzaInput" aria-describedby="analizzaHelp" checked>
                <label class="form-check-label" for="analizzaInput">
                  Analizza
                </label>
              </div>
              <div id="analizzaHelp" class="form-text">Decidi se questa tipologia deve essere considerata nei calcoli (ATTENZIONE! Se a livello software non è stata implementata, si prega di lasciare disattivato questo campo).</div>
            </div>
            <div class="col-md-6 col-12 mb-3">
              <label for="categorieInput" class="form-label">Categorie utilizzabili</label>
              <select multiple class="form-select" id="categorieInput" name="categorie" aria-label="categorie select" aria-describedby="categorieHelp"></select>
              <div id="categorieHelp" class="form-text">Scegli le categorie utilizzabili con questa tipologia.</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-12 mb-3">
              <label for="sorgenteInput" class="form-label">Sorgente</label>
              <select class="form-select" id="sorgenteInput" name="sorgente" aria-label="Sorgente select" aria-describedby="sorgenteHelp">
              <option value="external" selected>Esterno</option>
              <option value="any" selected>Qualsiasi Portafoglio</option>
              </select>
              <div id="sorgenteHelp" class="form-text">La sorgente della tipologia. Se diversa da 'qualsiasi' non sarà modificabile durente l'inserimento di un nuovo movimento.</div>
            </div>
            <div class="col-md-6 col-12 mb-3">
              <label for="destinazioneInput" class="form-label">Destinazione</label>
              <select class="form-select" id="destinazioneInput" name="destinazione" aria-label="Destinazione select" aria-describedby="destinazioneHelp">
              <option value="external" selected>Esterno</option>
              <option value="any" selected>Qualsiasi Portafoglio</option>
              </select>
              <div id="destinazioneHelp" class="form-text">La destinazione della tipologia. Se diversa da 'qualsiasi' non sarà modificabile durente l'inserimento di un nuovo movimento.</div>
            </div>
          </div>
            <div class="row">
              <div class="col-md-6 col-12 mb-3">
                <label for="iconaInput" class="form-label">Icona</label>
                  <div class="dropdown">
                    <button class="btn btn-outline-secondary w-100 dropdown-toggle my" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Scegli l'icona
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1"></div>
                  </div>
                  <div id="iconaHelp" class="form-text">Inserisci l'icona della tipologia. Usa il menù o visita <a href="https://fontawesome.com/" target="_blank">Font Awesome</a> per trovare quella più corretta</div>
              </div>
              <div class="col-md-6 col-12 mb-3 text-center">
                <label for="visualizzazione" class="form-label">Visualizza</label>
                <div id="visualizzazione" class="w-100 text-center fs-1"></div>
                <div id="nomeHelp" class="form-text">Qui è come apparirebbe l'icona della tipologia.</div>
              </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
        <button type="submit" id="addNewType" class="btn btn-primary">Invia</button>
        <button type="submit" id="editType" class="btn btn-warning" style="display: none;">Modifica</button>
      </div>
    </div>
  </div>
</div>
  
<div class="modal fade" id="deleteType" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sei sicuro di voler eliminare questa tipologia?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label class="form-label">L'eliminazione della riga non comporterà variazioni nella visualizzazione dei dati.</label>
          <div id="dataTodelete"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
          <button type="submit" id="deleteThisType" class="btn btn-danger">Elimina</button>
        </div>
      </div>
    </div>
</div>